In [1]:
import dask.dataframe as dd
import time

In [2]:
df = dd.read_csv('Riid/train.csv', encoding = 'ISO-8859-1', blocksize=64e6, low_memory=False,dtype={'answered_correctly': 'float64',
       'content_type_id': 'float64',
       'task_container_id': 'float64',
       'user_answer': 'float64'})

In [3]:
start_time_nb = time.time()

In [4]:
df.shape[0].compute()

9790566

In [5]:
df.map_partitions(len).compute()

0    1186136
1    1156779
2    1156964
3    1154933
4    1136465
5    1137226
6    1136174
7    1134485
8     591404
dtype: int64

In [6]:
df

Dask DataFrame Structure:
              row_id timestamp user_id content_id content_type_id task_container_id user_answer answered_correctly prior_question_elapsed_time prior_question_had_explanation
npartitions=9
               int64     int64   int64      int64         float64           float64     float64            float64                     float64                         object
                 ...       ...     ...        ...             ...               ...         ...                ...                         ...                            ...
...              ...       ...     ...        ...             ...               ...         ...                ...                         ...                            ...
                 ...       ...     ...        ...             ...               ...         ...                ...                         ...                            ...
                 ...       ...     ...        ...             ...               ...         ...                ...                         ...                            ...
Dask Name: read-csv, 9 tasks

df.iloc[:, 5]

In [7]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0.0,1.0,3.0,1.0,NaN,NaN
1,1,56943,115,5716,0.0,2.0,2.0,1.0,37000.0,False
2,2,118363,115,128,0.0,0.0,0.0,1.0,55000.0,False
3,3,131167,115,7860,0.0,3.0,0.0,1.0,19000.0,False
4,4,137965,115,7922,0.0,4.0,1.0,1.0,11000.0,False

In [8]:
df.tail()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
591399,9790561,12188126032,212874547,737,0.0,819.0,3.0,1.0,16000.0,True
591400,9790562,12188153101,212874547,836,0.0,820.0,3.0,1.0,17000.0,True
591401,9790563,12188185740,212874547,1348,0.0,821.0,3.0,1.0,21000.0,True
591402,9790564,12188215596,212874547,468,0.0,822.0,3.0,1.0,20000.0,True
591403,9790565,12188236826,212874547,10,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.prior_question_elapsed_time.mean().compute()

25485.093957720266

In [10]:
type(df.prior_question_elapsed_time.mean())

dask.dataframe.core.Scalar

In [11]:
type(df.prior_question_elapsed_time.mean().compute())

numpy.float64

In [12]:
df.user_answer.value_counts().compute()

 0.0    2725653
 1.0    2604701
 3.0    2525495
 2.0    1742980
-1.0     191736
Name: user_answer, dtype: int64

In [13]:
df.isnull().sum().compute()

row_id                                 0
timestamp                              0
user_id                                0
content_id                             0
content_type_id                        1
task_container_id                      1
user_answer                            1
answered_correctly                     1
prior_question_elapsed_time       230383
prior_question_had_explanation     38647
dtype: int64

In [14]:
df[df.prior_question_elapsed_time > 20000].compute()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
1,1,56943,115,5716,0.0,2.0,2.0,1.0,37000.0,False
2,2,118363,115,128,0.0,0.0,0.0,1.0,55000.0,False
11,11,280033,115,104,0.0,11.0,1.0,0.0,22000.0,False
12,12,302994,115,108,0.0,12.0,1.0,0.0,23000.0,False
13,13,328686,115,7900,0.0,13.0,0.0,1.0,21000.0,False
...,...,...,...,...,...,...,...,...,...,...
591392,9790554,11923747845,212874547,6976,0.0,814.0,1.0,1.0,44200.0,True
591393,9790555,11923747845,212874547,6979,0.0,814.0,1.0,1.0,44200.0,True
591394,9790556,11923747845,212874547,6978,0.0,814.0,1.0,0.0,44200.0,True
591395,9790557,12188038549,212874547,1166,0.0,815.0,0.0,1.0,53600.0,False
591401,9790563,12188185740,212874547,1348,0.0,821.0,3.0,1.0,21000.0,True

In [15]:
print("%s seconds" % (time.time() - start_time_nb))

25.047738313674927 seconds